<section id="input">
    <form class="example-form">
        <mat-form-field id="form-field">
            <input matInput placeholder="Molecule Name" aria-label="Molecule" [matAutocomplete]="auto" [formControl]="moleculeCtrl">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let molecule of filteredMolecules | async" (onSelectionChange)="onChange(molecule.id, $event)" [value]="molecule.name">
                    {{molecule.molecule_name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- Spinner activate while loading -->
        <mat-spinner [diameter]="30" *ngIf="loading === true"></mat-spinner>
        <a mat-raised-button color="primary" (click)="onSubmit()" id="submit-button" routerLink="/detail/{{this.dataService.getId()}}">Submit</a>
    </form>
</section>