<div id="input-form-component">
    <section id="input-textfield">
        <form>
            <mat-form-field>
                <input matInput placeholder="Molecule Name" aria-label="Molecule" [matAutocomplete]="auto"
                    [formControl]="moleculeCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let molecule of filteredMolecules | async" (onSelectionChange)="onChange(molecule.molName, $event)"
                        [value]="molecule.molName">
                        {{molecule.molName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <a mat-raised-button color="accent" (click)="onSubmit()" id="submit-button" routerLink="/{{this.currentMolecule}}">Submit</a>
        </form>
    </section>

    <!-- <div id="button-list" *ngFor="let molecule of moleculesList" ng-if="moleculesList">
    <a mat-raised-button routerLink="/detail/{{molecule.molecule_name}}">{{molecule.molecule_name}}</a>
</div> -->
    <section id="input-button-list">
        <ng-container *ngIf="moleculesList.length > 0; else elseTemplate">
            <mat-nav-list>
                <a mat-raised-button *ngFor="let molecule of moleculesList" routerLink="/{{molecule.molName}}">{{molecule.molName}}</a>
            </mat-nav-list>
        </ng-container>
        <ng-template #elseTemplate>
            <mat-spinner ng-if="moleculesList === undefined"></mat-spinner>
        </ng-template>
    </section>
</div>