#input-form-component {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 25% 75%;
}

#input-textfield {
    margin: auto;
    grid-column: 2/3;
    grid-row: 1/2;
}

#input-button-list {
    margin: auto;
    grid-column: 2/3;
    grid-row: 2/3;
}